:root {
    
   
    /* color palette for webpage */
    --primary-color: #f0a868;
    --secondary-color: #525b0f;
    --tertiary-color: #a4b8c4;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;

     /* font styles for webpage */
     --font-heading: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    --font-paragraph: Arial, Helvetica, sans-serif;
  
    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;

    line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  html,body {
    margin: 0;
    font-family: var(--font-paragraph);
    font-size: var(--font-base);
    color: var(--dark-grey);
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}